[Unit]
Description=Nexa Control Center Backend
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/nexa-ia.py
Restart=always
User=root
WorkingDirectory=/usr/share/nexa-cc

[Install]
WantedBy=multi-user.target
